@mixin transition($time){
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
  }

  @mixin transform-style($style){
    transform-style: $style;
    -moz-transform-style: $style;
    -o-transform-style: $style;
    -ms-transform-style: $style;
    -webkit-transform-style: $style;
  }
    
  @mixin backface-visibility($visibility: hidden) {
    backface-visibility: $visibility;
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    -ms-backface-visibility: $visibility;
    -o-backface-visibility: $visibility;
  }

  @mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;  
  }  

  @mixin photo-content($file) {
    content: url(#{$file}.jpg);
    object-fit: cover;
  }

.shopBackground {
    height: 100vh;
    width: 100%;
    background-image:url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752712/Wolf%20Creek/boarder.jpg");
    background-size: cover;
}

.centerShopTitle {
    position: absolute;
    top: 113vh;
    right: 3%;
    color: rgb(131, 131, 131);
    opacity: 0.7;
    font-size: 60px;
}

.footerShopBackground {
    height: 80vh;
    width: 100%;
    background-image:url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752713/Wolf%20Creek/board-fence.jpg");
    background-size: cover;
    opacity: 0.7;
}

.shopParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752711/Wolf%20Creek/snow.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 130vh;
    padding-bottom: 15vh;
}

.shopDivs {
    @include transform-style(preserve-3d);
    @include transition(1s);
        &:hover{
            @include transform(rotatey(-180deg));
        }
    height: 45vh;
    width: 45vh;
    background: rgba(46, 42, 42, 0.96); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(97, 96, 96),#196496, rgb(44, 43, 43)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgb(97, 96, 96), #196496, rgb(97, 96, 96)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(97, 96, 96), #196496, rgb(97, 96, 96)); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgb(41, 40, 40),#196496, rgb(41, 40, 40)); /* Standard syntax */
    box-shadow: 2px 2px 1px rgba(56, 56, 56, 0.719); 

    display: inline-block;
    margin-top: 35vh;
    margin-right: 2vh;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    border-radius: 6vh;
}

.shopDivs1 {
    @include transform-style(preserve-3d);
    @include transition(1s);
        &:hover{
            @include transform(rotatey(-180deg));
        }
    height: 45vh;
    width: 45vh;
    background: rgba(46, 42, 42, 0.96); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(97, 96, 96),#196496, rgb(44, 43, 43)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgb(97, 96, 96), #196496, rgb(97, 96, 96)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(97, 96, 96), #196496, rgb(97, 96, 96)); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgb(41, 40, 40),#196496, rgb(41, 40, 40)); /* Standard syntax */
    box-shadow: 2px 2px 1px rgba(56, 56, 56, 0.719); 

    display: inline-block;
    margin-top: 5vh;
    margin-right: 2vh;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    border-radius: 6vh;
}

.font, .back {
    position: fixed;
    height: 95%;
    width: 95%;
    @include backface-visibility;

}

.front {
    color: white;
    font-size: 2.3em;
    text-align: center;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 0.5vh;
    text-shadow: 1.5px 1.8px rgb(26, 26, 26);
        &:hover {
            color: white;
            text-shadow: 1.5px 1.8px rgb(26, 26, 26);
            font-weight: 900;
        }
    @include backface-visibility;
}

.back {
    @include transform(rotatey(-180deg));
  z-index: 1;
  word-wrap: break-word;
  line-height: 1.15;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1.5px 1.5px rgb(36, 36, 36);
  font-size: 1em;
  letter-spacing: 0.2vh;
  margin-top: 2vh;
  list-style-type: none;
  @include backface-visibility;
  overflow: auto;
  position: fixed;
  height: 90%;
  width: 95%;
}

.purchaseParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    
}

.purchase {
    height: 6vh;
    width: 60%;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Buda', cursive;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
        &:hover {
            background-color: rgb(16, 218, 16);
        }
}

