.CartBackground {
  background-image: url(https://c1.staticflickr.com/1/162/436657570_5831184e14_b.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%; }

.emptyParent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.emptyCart {
  margin-top: 40vh;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 1vh;
  height: 20vh;
  width: 100vh;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Buda', cursive; }
  .emptyCart:hover {
    background-color: #05df05;
    background: -webkit-linear-gradient(#c7dbec, #00c000);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c7dbec, #00c000);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c7dbec, #00c000);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c7dbec, #00c000);
    /* Standard syntax */
    font-weight: 700;
    color: rgba(248, 250, 252, 0.76);
    text-shadow: 1px 1.5px #242424; }

.CartParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 3vh; }

.CartName {
  height: 13vh;
  width: 65vh;
  margin-right: 3vh;
  margin-left: -32vh;
  margin-top: 1vh;
  border-radius: 0.5vh;
  background-color: rgba(0, 0, 0, 0.274);
  text-shadow: 1px 1.5px #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Buda', cursive;
  overflow: auto;
  text-align: center; }

.itemspan {
  color: #00d6fc;
  text-shadow: 1px 1.5px #242424;
  font-family: 'Julius Sans One', sans-serif; }

.CartDescription {
  height: 13vh;
  width: 65vh;
  margin-right: 3vh;
  border-radius: 0.5vh;
  background-color: rgba(0, 0, 0, 0.274);
  text-shadow: 1px 1.5px #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  overflow: auto;
  font-family: 'Buda', cursive;
  text-align: center; }

.CartPrice {
  height: 13vh;
  width: 15vh;
  margin-right: 8vh;
  border-radius: 0.5vh;
  background-color: rgba(0, 0, 0, 0.274);
  text-shadow: 1px 1.5px #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Buda', cursive;
  text-align: center; }

.QuantityCart {
  height: 13vh;
  width: 15vh;
  font-size: 1.1em;
  border-radius: 0.5vh;
  background-color: rgba(0, 0, 0, 0.274);
  text-align: center;
  position: absolute;
  margin-left: 32%;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00d6fc;
  text-shadow: 1px 1.5px #242424;
  font-family: 'Julius Sans One', sans-serif; }

input {
  margin-top: 1vh;
  margin-left: 1vh;
  width: 6vh;
  height: 3vh;
  font-size: 1.1em;
  border-radius: 0.5vh;
  text-align: center; }

.RemoveCart {
  position: absolute;
  margin-top: 4vh;
  margin-left: 41%;
  height: 5vh;
  width: 15vh;
  border-radius: 0.5vh;
  background-color: rgba(250, 41, 4, 0.938);
  text-shadow: 1px 1.5px #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Buda', cursive; }

.remove {
  color: white;
  font-family: 'Buda', cursive; }
