.backgroundEvents {
    background-image:url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752711/Wolf%20Creek/skigroup.jpg");
    background-size: cover;
    margin-top: 150px;
    height: 830px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundevents {
    margin-top: -80px;
    height: 1550px;
    width: 100%;
    background-color: rgb(226, 219, 219); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(226, 219, 219),#e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(226, 219, 219), #e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(226, 219, 219), #e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(226, 219, 219), #e6e6e6); /* Standard syntax */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.eventsTitleParent {
    margin-top: -50px;
    color: white;
    opacity: 0.7;
    font-size: 60px;
}

.parentingEvent {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.eventsInfo {
    display: flex;
    justify-content: flex-start;
    align-items:  flex-start;
    flex-direction: row;
    color: #1c8d8d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-shadow: 1px 0.5px rgb(44, 44, 44);
    letter-spacing: 0.1vh;
}

.eventList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
    width: 200px;
    height: 400px;
    margin-left: 80px;
}

.centerevent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 22px;
    line-height: 1em;
    text-align: center;
}

.centParent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.evList {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;

        li {
            list-style: none;
            font-size: 16px;
        }
}

.evList2 {
    margin-top: 10px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;

        li {
            list-style: none;
            font-size: 16px;
        }
}


.imgalign1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;
    margin-right: 80px;
    width: 200px;
    height: 400px;
    opacity: 0.7;
        &:hover {
             opacity: 1; 
        }

        img {
            width: 200px;
            height: 250px;
        }
}

.imgalign2 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 80px;
    margin-left: 30px;
    width: 200px;
    height: 400px;
    opacity: 0.7;
        &:hover {
             opacity: 1; 
        }

        img {
            width: 200px;
            height: 120px;
        }
}

.course2 {
    margin-top: 10px;
}

.calendar {
    margin-top: -30px;
}

.backgoundfooterevents {
    margin-top: -100px;
    background-image:url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752711/Wolf%20Creek/ski-race.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
    color: rgb(13, 56, 94);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.backTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 140px;
    margin-left: 60px;
    color: white;
    font-size: 60px;
}

@media (max-width: 1850px) {
    .eventList {
        margin-right: 20px;
        width: 200px;
        height: 400px;
        margin-left: 80px;
    }
    .centerEvent {
        width: 200px;
    }
    .centParent2 {
        width: 250px;
    }
    .evList {
        width: 300px;
    }
    .evList2 {
        width: 350px;
    }
    .imagealign1 {
        margin-right: 80px;
        margin-left: 30px;
        width: 200px;
    }
    .imagealign2 {
        margin-right: 80px;
        margin-left: 30px;
        width: 200px;
    }
}

@media (max-width: 1500px) {
    .eventList {
        margin-right: 20px;
        width: 200px;
        height: 400px;
        margin-left: 80px;
    }
    .centerEvent {
        width: 200px;
    }
    .centParent2 {
        width: 250px;
    }
    .evList {
        width: 300px;
    }
    .evList2 {
        width: 350px;
    }
    .imagealign1 {
        margin-right: 80px;
        margin-left: 30px;
        width: 200px;
    }
    .imagealign2 {
        margin-right: 80px;
        margin-left: 30px;
        width: 200px;
    }
}

