.productParent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3vh; }

.products {
  width: 50%;
  height: 5vh;
  margin-left: 5vh; }

.products2 {
  width: 30%;
  height: 5vh; }

.products3 {
  margin-right: 5vh;
  margin-top: -3vh;
  width: 130px;
  height: 4vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh; }
