.productParent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
}

.products {
    width: 400px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1em;
    font-family: 'Julius Sans One', sans-serif;
}

.products2 {
    width: 120px;
    height: 20px;
    font-size: 1.1em;
    margin-right: 20px;
    font-family: 'Julius Sans One', sans-serif;
}

.products3 {
    margin-right: 0vh;
    width: 120px;
    height: 40px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.9em;
    color: white;
        &:hover {
            background-color: #3068cc; 
        }
    cursor: pointer;
}


