.productParent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 4vh; }

.products {
  width: 55%;
  height: 5vh;
  margin-left: 3vh;
  margin-right: 3vh;
  font-size: 1.1em;
  font-family: 'Julius Sans One', sans-serif; }

.products2 {
  width: 15%;
  height: 5vh;
  font-size: 1.1em;
  margin-right: 3vh;
  font-family: 'Julius Sans One', sans-serif; }

.products3 {
  margin-right: 0vh;
  margin-top: -2vh;
  width: 120px;
  height: 5.5vh;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.9em;
  color: white;
  cursor: pointer; }
  .products3:hover {
    background-color: #3068cc; }
