$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
  }

  @mixin parallax-background($file) {
    background: url($file) no-repeat center center fixed;
    @include background-size(cover);
  }

  #snowboard {
    @include parallax-background("../../Images/Pictures/johannes-waibel-4298.jpg")
  }

  #aspen {
    @include parallax-background("../../Images/Pictures/krista-lance-369572.jpg")
  }

  #snow { 
    @include parallax-background("../../Images/Pictures/paul-jarvis-19.jpg")
  }

  #ski {
    @include parallax-background("../../Images/Pictures/pexels-photo-326057.jpeg")
  }

  #mountain {
    @include parallax-background("../../Images/Pictures/freerider-skiing-ski-sports-47356.jpeg")
  }

  #snowboard {
    width: 100%;
   height: 100vh;
   perspective: 1px;
   transform: translateZ(-1px);
   overflow-x: hidden;
   overflow-y: auto;

      h1{
      transform: translateZ(-1px);
          text-transform: uppercase;
            font-family: serif;
            letter-spacing: 0.06em;
            font-size:7em;
            color: rgba(22, 63, 106, 0.90);
            opacity: 0.7;
            text-align: center;
      }
  }

  #aspen, #snow, #ski{
    width: 100%;
   height: 100vh;
   perspective: 1px;
   transform: translateZ(-1px);
   overflow-x: hidden;
   overflow-y: auto;
  }

  #mountain {
    width: 100%;
    height: 70vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ParentCharts {
    background: rgba(27, 24, 24, 0.96); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#52ABBB,rgba(22, 63, 106, 0.90)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52ABBB, rgba(22, 63, 106, 0.90)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52ABBB, rgba(22, 63, 106, 0.90)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52ABBB, rgba(22, 63, 106, 0.90)); /* Standard syntax */
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3em;
  }


  .titleparents{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5em;
  }

  .priceParent{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .listItems1 {
    height: 2vh;
    width: 20vh;
    margin-top: 2vh;
    margin-right: 15vh;
    margin-bottom: 11vh;
    color: #FFFFFF;
  }

  .listItems2 {
    height: 2vh;
    width: 20vh;
    margin-right: 15vh;
  }

  .listItems3 {
    height: 2vh;
    width: 20vh;
    margin-right: 15vh;
   
  }

  .listItems4 {
    height: 2vh;
    width: 20vh;
  }

  .pricediv{
    margin-top: 2vh;
  }

  .indentdiv {
    margin-left: 5vh;
  }