#snowboard {
  background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752714/Wolf%20Creek/johannes-waibel-4298.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#aspen {
  background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752714/Wolf%20Creek/aspen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snow {
  background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752715/Wolf%20Creek/paul-jarvis-19.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#ski {
  background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752715/Wolf%20Creek/pexels-photo-326057.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mountain {
  background: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752713/Wolf%20Creek/freerider-skiing-ski-sports-47356.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snowboard {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }
  #snowboard h1 {
    width: 100%;
    transform: translateZ(-1px);
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 0.06em;
    font-size: 140px;
    color: #004b77;
    text-shadow: 2px 2px 1px #080808;
    opacity: 1;
    text-align: center; }

#aspen, #snow, #ski {
  width: 100%;
  height: 50vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

#mountain {
  width: 100%;
  height: 80vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

.ParentCharts {
  background: #014c77;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#014c77, #062d44);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#014c77, #062d44);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#014c77, #062d44);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#014c77, #062d44);
  /* Standard syntax */
  color: #EDF2F4;
  font-family: 'Julius Sans One', sans-serif;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ParentCharts2 {
  background: #014c77;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#014c77, #062d44);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#014c77, #062d44);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#014c77, #062d44);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#014c77, #062d44);
  /* Standard syntax */
  color: #EDF2F4;
  font-family: 'Julius Sans One', sans-serif;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.titleparents {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 3px 2px 1px #0f0f0f;
  color: #0bf8ec;
  font-weight: 700; }

.parentOfPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.priceParent {
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 450px;
  width: 350px;
  background: rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 5px 1px black;
  margin-bottom: 30px; }

.priceParent2 {
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 220px;
  width: 420px;
  background: rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 5px 1px black;
  margin-bottom: 30px; }

.listItems1 {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #dde1eb;
  font-weight: 900;
  text-shadow: 1px 1.5px 1px #242424;
  font-size: 23px;
  text-shadow: 3px 2px 1px #0f0f0f; }

.listItems2 {
  text-shadow: 1px 1px 1px #0f0f0f;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.listItems3 {
  text-shadow: 3px 2px 1px #0f0f0f;
  margin-left: 10px;
  height: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.pricediv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.actual-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  width: 75px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: #0bf8ec;
  text-shadow: 3px 2px 1px #0f0f0f; }

.indentdiv {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 300px; }

.indentdiv2 {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 300px; }

@media (max-width: 1900px) {
  .priceParent {
    height: 450px;
    width: 330px; }
  .listItems2 {
    width: 300px; } }

@media (max-width: 1800px) {
  .priceParent {
    height: 450px;
    width: 300px; }
  .listItems2 {
    width: 270px; } }

@media (max-width: 1700px) {
  .priceParent {
    height: 450px;
    width: 280px; }
  .listItems2 {
    width: 250px; } }

@media (max-width: 1600px) {
  .priceParent {
    height: 450px;
    width: 280px; }
  .actual-price {
    width: 60px;
    font-size: 16px; }
  .indentdiv {
    margin-right: 0px;
    margin-left: 0px;
    width: 250px; }
  .pricediv {
    margin-left: 10px; } }

@media (max-width: 1550px) {
  .priceParent {
    height: 450px;
    width: 260px;
    margin-left: 10px;
    margin-right: 10px; }
  .priceParent2 {
    margin-left: 30px;
    margin-right: 30px;
    width: 380px;
    height: 220px;
    margin-bottom: 30px; }
  .pricediv {
    margin-left: 50px; }
  .actual-price {
    width: 60px;
    font-size: 14px; }
  .indentdiv {
    margin-right: -20px;
    margin-left: -20px;
    width: 250px; }
  .indentdiv2 {
    margin-right: -20px;
    margin-left: -20px;
    width: 250px; }
  .listItems2 {
    font-size: 14px;
    width: 200px;
    margin-left: 40px; }
  .listItems3 {
    font-size: 14px;
    margin-left: 20px;
    width: 380px; } }

@media (max-width: 1450px) {
  .priceParent {
    height: 450px;
    width: 240px;
    margin-left: 10px;
    margin-right: 10px; }
  .priceParent2 {
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    height: 230px;
    margin-bottom: 10px; }
  .pricediv {
    margin-left: 50px; }
  .actual-price {
    width: 60px;
    font-size: 16px; }
  .indentdiv {
    margin-right: -20px;
    margin-left: -20px;
    width: 110px; }
  .indentdiv2 {
    margin-right: -20px;
    margin-left: -20px;
    width: 200px; }
  .listItems2 {
    font-size: 14px;
    width: 200px;
    margin-left: 40px; }
  .listItems3 {
    font-size: 13px;
    margin-top: 4px;
    margin-left: 0px;
    width: 350px; } }

@media (max-width: 1350px) {
  .priceParent {
    height: 450px;
    width: 230px;
    margin-left: 10px;
    margin-right: 10px; }
  .priceParent2 {
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    height: 230px;
    margin-bottom: 10px; }
  .pricediv {
    margin-left: 50px; }
  .actual-price {
    width: 60px;
    font-size: 16px; }
  .indentdiv {
    margin-right: -30px;
    margin-left: -30px;
    width: 110px; }
  .indentdiv2 {
    margin-right: 0px;
    margin-left: 40px;
    width: 250px; }
  .listItems2 {
    font-size: 14px;
    width: 200px;
    margin-left: 40px; }
  .listItems3 {
    margin-left: -20px;
    width: 310px; } }

@media (max-width: 1270px) {
  .priceParent {
    height: 450px;
    width: 220px;
    margin-left: 8px;
    margin-right: 8px; }
  .priceParent2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 310px;
    height: 230px;
    margin-bottom: 10px; }
  .pricediv {
    margin-left: 50px; }
  .actual-price {
    width: 60px;
    font-size: 14px; }
  .indentdiv {
    margin-right: -40px;
    margin-left: -40px;
    width: 110px; }
  .listItems2 {
    font-size: 13px;
    width: 180px;
    margin-left: 40px; }
  .listItems3 {
    margin-left: -20px;
    width: 310px; } }

@media (max-width: 1200px) {
  .priceParent {
    height: 450px;
    width: 200px;
    margin-left: 8px;
    margin-right: 8px; }
  .priceParent2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 310px;
    height: 230px;
    margin-bottom: 10px; }
  .pricediv {
    margin-left: 50px; }
  .actual-price {
    width: 60px;
    font-size: 14px; }
  .indentdiv {
    margin-right: -50px;
    margin-left: -50px;
    width: 110px; }
  .listItems2 {
    font-size: 13px;
    width: 180px;
    margin-left: 40px; }
  .listItems3 {
    margin-left: -20px;
    width: 310px; } }
