#landscape {
  background: url("../../Images/johannes-waibel-4298.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snowboard {
  background: url("../../Images/paul-jarvis-19.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snow {
  background: url("../../Images/krista-lance-369572.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#ski {
  background: url("../../Images/bryce-evans-202182.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#landscape {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }
  #landscape h1 {
    transform: translateZ(-1px);
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 0.06em;
    font-size: 7em;
    color: rgba(22, 63, 106, 0.9);
    opacity: 0.7;
    text-align: center; }

#snowboard, #snow {
  width: 100%;
  height: 80vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

#ski {
  width: 100%;
  height: 50vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

p {
  width: 70%;
  padding: 3%;
  margin: 20vh;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4; }
