#snowboard {
  background: url("../../Images/Pictures/johannes-waibel-4298.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#aspen {
  background: url("../../Images/Pictures/krista-lance-369572.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snow {
  background: url("../../Images/Pictures/paul-jarvis-19.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#ski {
  background: url("../../Images/Pictures/pexels-photo-326057.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mountain {
  background: url("../../Images/Pictures/freerider-skiing-ski-sports-47356.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snowboard {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }
  #snowboard h1 {
    transform: translateZ(-1px);
    text-transform: uppercase;
    font-family: serif;
    letter-spacing: 0.06em;
    font-size: 7em;
    color: rgba(22, 63, 106, 0.9);
    opacity: 0.7;
    text-align: center; }

#aspen, #snow, #ski {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

#mountain {
  width: 100%;
  height: 70vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto; }

.titleparents {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap; }

.priceParent {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap; }

.listItems1 {
  height: 2vh;
  width: 15vh;
  margin-top: 2vh;
  margin-right: 15vh;
  margin-bottom: 8vh; }

.listItems2 {
  height: 2vh;
  width: 15vh;
  margin-right: 15vh; }

.listItems3 {
  height: 2vh;
  width: 15vh;
  margin-right: 15vh; }

.listItems4 {
  height: 2vh;
  width: 15vh; }

.pricediv {
  margin-top: 2vh; }

.indentdiv {
  margin-left: 3vh; }
