video {
  top: 20;
  left: 0;
  width: 100%;
  height: 100%; }

.home {
  height: 700px;
  width: 100%;
  margin-top: -105vh;
  background-color: #5563A9;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }

.slide {
  height: 130vh;
  width: 25%;
  background: rgba(26, 24, 24, 0.86);
  transition: .84s;
  margin-top: 3vh;
  margin-right: 5vh;
  position: absolute;
  border-radius: 1vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden; }
  .slide .slideTitle {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.8em; }

.previous {
  margin-top: 1vh;
  font-size: 0em;
  opacity: 0; }

.close {
  height: 18vh;
  width: 1.8%;
  opacity: .7;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000; }
  .close .slideTitle {
    opacity: 0; }
  .close .previous {
    margin-top: 4vh;
    margin-left: 0.5vh;
    font-size: 4em;
    color: #FFFFFF;
    opacity: 1; }

.dateparent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end; }
  .dateparent .dayofweek {
    color: #46D3CC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 3vh;
    margin-right: 6vh; }
  .dateparent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: 1vh;
    margin-left: 3vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.conditionsParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; }
  .conditionsParent .wicon {
    width: 5vh;
    height: 6vh; }
  .conditionsParent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 2vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.dateParent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end; }
  .dateParent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 2vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.home2 {
  height: 2000px;
  width: 100%;
  background-color: #5563A9; }
