    video {
        position: absolute;
        top: 720px;
        bottom:0%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
    }

    .videoDiv {
        height: 0vh;
        width: 100%;
    }

.slideParent {
    margin-top: 200px;
}

.slide {
    height: 1000px;
    width: 300px;
    background: rgba(26, 24, 24, 0.86);
    transition: .84s;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
        .slideTitle {
            color: #e5e7e7;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 20px;
            font-size: 1.5em;
        }
  }

.previous {
    margin-top: 30px;
    font-size: 0em;
    opacity: 0; 
}

.close {
    height: 100px;
    width: 2.8%;
    margin-left: -5px;
    opacity: .9;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    cursor: pointer;
        &:hover {
            background-color: #1293dd;
        }
    border-radius: 10px;
        .slideTitle {
            opacity: 0;
        }
        .previous {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 7px;
            margin-left: 10px;
            font-size: 4em;
            color: #e5e7e7; 
            opacity: 1; 
        }
}

.dateparent {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: flex-start;
        .dayofweek {
            color: #0bf8ec;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.5em;
            margin-top: 30px;
            margin-left: 30px;
        }
            .temp {
                color: #e5e7e7;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 0.9em;
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 10px;
            }
}

.conditionsParent {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
        .wicon {
            width: 30px;
            height: 30px; 
            margin-left: 20px; 
        }
            .temp {
                color: #e5e7e7;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 1em;
                margin-left: 10px;
                margin-bottom: 10px;
            }
}

.dateParent {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;

    .temp {
        color: #e5e7e7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.9em;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.home {
    height: 1060px;
    width: 100%;
}

