    video {
        position: absolute;
        top: 70vh;
        bottom:70%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
    }

    .videoDiv {
        height: 0vh;
        width: 100%;
    }

.slideParent {
    margin-top: 12vh;
}

.slide {
    height: 920px;
    width: 18%;
    background: rgba(26, 24, 24, 0.86);
    transition: .84s;
    margin-top: -10vh;
    margin-right: 5vh;
    position: absolute;
    border-radius: 1vh;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
        .slideTitle {
            color: #e5e7e7;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 3vh;
            font-size: 1.5em;
        }
  }

.previous {
    margin-top: 1vh;
    font-size: 0em;
    opacity: 0; 
}

.close {
    height: 15vh;
    width: 2.5%;
    margin-left: -1vh;
    opacity: .8;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    cursor: pointer;
        &:hover {
            background-color: #1883c2;
        }
    border-radius: 1vh;
        .slideTitle {
            opacity: 0;
        }
        .previous {
            margin-top: 2vh;
            margin-left: 2vh;
            font-size: 4em;
            color: #e5e7e7; 
            opacity: 1; 
        }
}

.dateparent {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: flex-start;
        .dayofweek {
            color: #0bf8ec;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.5em;
            margin-top: 3vh;
            margin-left: 3vh;
        }
            .temp {
                color: #e5e7e7;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 0.9em;
                margin-top: 1vh;
                margin-left: 3vh;
                margin-bottom: 1vh;
            }
}

.conditionsParent {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
        .wicon {
            width: 30px;
            height: 30px; 
            margin-left: 2vh; 
        }
            .temp {
                color: #e5e7e7;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 1em;
                margin-left: 1vh;
                margin-bottom: 1vh;
            }
}

.dateParent {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1vh;

    .temp {
        color: #e5e7e7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.9em;
        margin-left: 2vh;
        margin-right: 6vh;
        margin-bottom: 1vh;
    }
}

.home {
    height: 93vh;
    width: 100vh;
}

@media(min-width: 0px) {
}