video {
  top: 20;
  left: 0;
  width: 100%;
  height: 100%; }

.home {
  height: 768px;
  width: 100%;
  margin-top: -105vh;
  background-color: #5563A9;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }

.slide {
  height: 130vh;
  width: 25%;
  background: rgba(26, 24, 24, 0.86);
  transition: .84s;
  margin-top: 3vh;
  margin-right: 5vh;
  position: absolute;
  border-radius: 1vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden; }
  .slide .slideTitle {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.8em; }

.previous {
  margin-top: 1vh;
  font-size: 0em;
  opacity: 0; }

.close {
  height: 18vh;
  width: 1.8%;
  opacity: .7;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000; }
  .close .slideTitle {
    opacity: 0; }
  .close .previous {
    margin-top: 3.6vh;
    margin-left: 0.5vh;
    font-size: 4em;
    color: #FFFFFF;
    opacity: 1; }

.dateparent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end; }
  .dateparent .dayofweek {
    color: #46D3CC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 3vh;
    margin-right: 6vh; }
  .dateparent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-top: 1vh;
    margin-left: 3vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.conditionsParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; }
  .conditionsParent .wicon {
    width: 5vh;
    height: 6vh; }
  .conditionsParent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 2vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.dateParent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end; }
  .dateParent .temp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 2vh;
    margin-right: 6vh;
    margin-bottom: 1vh; }

.home2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background: url(http://www.vikingskishop.com/OPENING-IMAGES/ski-tracks.jpg) no-repeat center center;
  opacity: 0.7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.summer {
  color: #000000;
  text-shadow: 2px 1px black;
  font-size: 1.4em;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  margin-right: 3vh;
  margin-left: 5vh;
  margin-top: 7vh; }

.winter {
  color: #000000;
  text-shadow: 2px 1px black;
  font-size: 1.4em;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  margin-right: 3vh;
  margin-top: 7vh; }
