.navbar {
    height: 16vh;
    width: 100%;
    position: relative;
    background: rgba(27, 24, 24, 0.96);
        background: rgba(27, 24, 24, 0.96); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(black,#444343); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(black, #444343); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(black, #444343); /* For Firefox 3.6 to 15 */
        background: linear-gradient(black, #444343); /* Standard syntax */
}

    .navParent {
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
        align-items: center;
            .logo {
                height: 80px;
                width: 85px;
                position: absolute;
                top: -7.8vh;
                left: 10.5vh;
            }
                .logoTitle {
                    position: absolute;
                    top: 10vh;
                    left: 6vh;
                    font-size: 1.6em;
                    color: #22CCF7;
                    font-weight: 200;
                    text-shadow: 1px 1px #090155;
                    letter-spacing: 1.5px;
                    font-family: 'Julius Sans One', sans-serif;
                    
                        span {
                            font-size: 1.2em;
                        }
                }

                    .navLink {
                        font-size: 1.2em;
                        font-weight: 400;
                        margin: 3vh;
                        margin-top: 8vh;
                    }
                        .Link {
                            text-decoration: none;
                            color: #CACACC;
                            text-shadow: 1px 1px #5C5757;
                            letter-spacing: 3px;
                            font-family: 'Open Sans Condensed', sans-serif;
                            &:hover {
                                color: #22CCF7;
                            }
                        }
}

.navLink1 {
    font-size: 1em;
    font-weight: 500;
    margin-left: 82vh;
    margin-top: 1.8vh;
    position: absolute;
}

.navLink2{
    font-size: 1em;
    font-weight: 500;
    margin-top: 1.8vh;
    margin-left: 94vh;
    position: absolute;
}
.auth1 {
    color: #22CCF7;
    text-decoration: none;
    font-family: 'Buda', cursive;
    letter-spacing: 0.5vh;
    &:hover {
        color: #FFFFFF;
    }
}

.auth2 {
    color: #22CCF7;
    text-decoration: none;
    font-family: 'Buda', cursive;
    letter-spacing: 0.5vh;
    &:hover {
        color: #FDFFFF;
    }
}

.cart {
    position: absolute;
    margin-top: 1.8vh;
    margin-left: 70vh;

}