.navbar {
    height: 16vh;
    width: 100%;
    position: relative;
    background: rgba(27, 24, 24, 0.96);
        background: rgba(27, 24, 24, 0.96); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(black,#444343); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(black, #444343); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(black, #444343); /* For Firefox 3.6 to 15 */
        background: linear-gradient(black, #444343); /* Standard syntax */
}

    .navParent {
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
        align-items: center;
            .logo {
                height: 70px;
                width: 80px;
                position: absolute;
                top: -8vh;
                left: 14vh;
            }
                .logoTitle {
                    position: absolute;
                    top: 10vh;
                    left: 6vh;
                    font-size: 1.6em;
                    color: #1883c2;
                    font-weight: 700;
                    text-shadow: 1px 1.5px rgb(36, 36, 36);
                    letter-spacing: 1.5px;
                    font-family: 'Julius Sans One', sans-serif;
                    
                        span {
                            font-size: 1.2em;
                        }
                }

                    .navLink {
                        font-size: 1.2em;
                        font-weight: 400;
                        margin: 3vh;
                        margin-top: 8vh;
                    }
                        .Link {
                            text-decoration: none;
                            color: #e6f0f0;
                            text-shadow: 1px 1.5px rgb(36, 36, 36);
                            letter-spacing: 3px;
                            font-family: 'Open Sans Condensed', sans-serif;
                            &:hover {
                                color: #0bf8ec;
                                font-weight: 500;
                            }
                        }
}

.navLink1 {
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 82vh;
    margin-top: 1.8vh;
    position: absolute;
    text-shadow: 1px 1.5px rgb(36, 36, 36);
}

.navLink2{
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 1.8vh;
    margin-left: 92vh;
    position: absolute;
}
.auth1 {
    color: #1883c2;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 1.1em;
    &:hover {
        color: #0bf8ec;
        font-weight: 500;
    }
}

.auth2 {
    color: #1883c2;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 1.1em;
    &:hover {
        color: #0bf8ec;
        font-weight: 500;
    }
}

.cart {
    position: absolute;
    margin-top: 1.8vh;
    margin-left: 72vh;
}