.footer {
        height: 35vh;
        width: 100%;
        background: rgba(27, 24, 24, 0.96);
            background: rgba(27, 24, 24, 0.96); /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#444343, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient( #444343), black; /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient( #444343, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient( #444343, black); /* Standard syntax */
}

.logo2 {
    margin-top: 7vh;
    margin-left: -15vh;
    height: 15vh;
    width: 8%;
}

.WCtitle {
    color: #22CCF7;
    font-size: 3em;
    margin-left: 20vh;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 900;
}

.organizeFoot {
    margin-left: 50vh;
    margin-top: -20vh;
}

.footerList {
    direction: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
}

.footLink {
    font-size: 1.1em;
    list-style-type: none;
    margin-bottom: 4vh;
    margin-top: 3vh;
    margin-left: 15vh;
    color: #BEBDBD;
    font-family: 'Open Sans Condensed', sans-serif;
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 11vh;
    margin-top: 3vh;
}

.socialLink {
    margin-right: -8vh;
    height: 5vh;
    width: 50%;
}


