.backgroundvacation {
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752713/Wolf%20Creek/downtown_winter.jpg");
  background-size: cover;
  margin-top: 180px;
  height: 712px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.backgroundvacationbelow {
  height: 1800px;
  width: 100%;
  background-color: #e2dbdb;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#dbdee2, #4e4e4e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e2dbdb, #4e4e4e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e2dbdb, #4e4e4e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e2dbdb, #4e4e4e);
  /* Standard syntax */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.centerVacaTitle {
  margin-top: -50px;
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 1px #313131; }

.vacationFlex2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Buda; }

.DivVaca1 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752713/Wolf%20Creek/Colorado-Wolf-Creek-Pass.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.DivVaca2 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521843572/wesley-tingey-176386-unsplash.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.DivVaca3 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752715/Wolf%20Creek/restaurant-fine-dining-1.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.DivVaca4 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752712/Wolf%20Creek/child.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.DivVaca5 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752710/Wolf%20Creek/ski.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.DivVaca6 {
  height: 450px;
  width: 750px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752714/Wolf%20Creek/Molas-Pass.jpg");
  background-size: cover;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 2px #161616;
  font-size: 35px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #383838;
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 450px;
  width: 750px;
  opacity: 0;
  background-color: #062450;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#062450, #2b293f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#062450, #2b293f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#062450, #2b293f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#062450, #2b293f);
  /* Standard syntax */ }
  .overlay1:hover {
    opacity: 1; }

.directions {
  height: 450px;
  width: 750px; }
  .directions h4 {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #0bf8ec;
    text-shadow: 1px 1px #4b4b4b;
    line-height: 1em; }
  .directions .liParent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .directions .liTitle {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #b4b4b4;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 30px;
    line-height: 1.2em; }
  .directions .liDes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1em; }

.directions2 {
  height: 450px;
  width: 750px;
  overflow: auto; }
  .directions2 h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #0bf8ec;
    text-shadow: 1px 1px #4b4b4b;
    line-height: 1.3em; }
  .directions2 .liParent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .directions2 .liTitle {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #b4b4b4;
    font-size: 16px;
    margin-left: 60px;
    margin-right: 10px;
    line-height: 1.3em; }
  .directions2 .liDes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.3em; }
  .directions2 .liDes2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.3em;
    margin-left: 60px;
    margin-right: 10px; }

.backgroundfootVacation {
  background-image: url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752714/Wolf%20Creek/Pagosa-Springs-Hot-Air-Balloons-Lake.jpg");
  background-size: cover;
  height: 700px;
  width: 100%;
  color: #0d385e;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.footTitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 210px;
  margin-left: 60px;
  color: white;
  font-size: 60px;
  text-shadow: 1px 1px 1px black; }

@media (max-width: 1850px) {
  .DivVaca1 {
    height: 450px;
    width: 650px; }
  .DivVaca2 {
    height: 450px;
    width: 650px; }
  .DivVaca3 {
    height: 450px;
    width: 650px; }
  .DivVaca4 {
    height: 450px;
    width: 650px; }
  .DivVaca5 {
    height: 450px;
    width: 650px; }
  .DivVaca6 {
    height: 450px;
    width: 650px; }
  .overlay1 {
    height: 450px;
    width: 650px; } }

@media (max-width: 1550px) {
  .DivVaca1 {
    height: 450px;
    width: 550px; }
  .directions h4 {
    font-size: 13px; }
  .DivVaca2 {
    height: 450px;
    width: 550px; }
  .DivVaca3 {
    height: 450px;
    width: 550px; }
  .DivVaca4 {
    height: 450px;
    width: 550px; }
  .DivVaca5 {
    height: 450px;
    width: 550px; }
  .DivVaca6 {
    height: 450px;
    width: 550px; }
  .overlay1 {
    height: 450px;
    width: 550px; }
  .directions2 .liDes {
    font-size: 14px;
    line-height: 1.3em; }
  .directions2 .liTitle {
    margin-left: 40px;
    margin-right: -20px; } }
