.lifttickets {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.lifttickparent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.LiftTick {
  height: 60vh;
  width: 90vh;
  margin: 5vh;
  background-color: blue;
  overflow: auto;
}

.LTTitle {
  color: white;
  margin-top: 5vh;
  margin-bottom: 5vh;
}






