
.backgroundLT {
  background-image:url("http://res.cloudinary.com/scottisyoung/image/upload/v1521752711/Wolf%20Creek/snowtrees.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion {
  margin-top: 170px;
  -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  border-color: #505050;
  border-style: solid;
  border-width: 0px;
  border-radius: 16px;
  height: 450px;
  width: 1114px;

}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
  float: left;
}

.accordion > ul > li {
  background-color: #1f1f1f;
  margin-right: -730px;
  margin-bottom: -0px;
}

.accordion-select:checked ~ .accordion-separator {
  margin-right: 730px;
  margin-bottom: 0px;
}

.accordion-title,
.accordion-select  {
  background-color: #2d2d2d;
  color: #ffffff;
  width: 45px;
  height: 450px;
  font-size: 23px;
  letter-spacing: 0.1vh;
  font-family: 'Julius Sans One', sans-serif;
}

.accordion-title span {
  margin-bottom: 23px; 
  margin-left: 20px;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
  background-color: #1883c2;
}

.accordion-title span  {	
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-writing-mode: lr-bt;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin-left: 0px;
  line-height: 45px;
}

.accordion-content {
  background-color: #3e3e3e;
  color: #f5f2f0;
  height: 392px;
  width: 672px;
  padding: 29px;
  font-size: 1.2em;
    h3 {
      color: #edf2f4;
      text-align: center;
    }
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
  margin-right: 3px;
  margin-bottom: 3px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
  overflow: hidden;
}

.accordion > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 101%;
}

.accordion > ul > li,
.accordion-title {
  position: relative;
}

.accordion-select {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}

.accordion-title span {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  white-space: nowrap;
}

.accordion-content {
  position: relative;
  overflow: auto;
}

.accordion-separator {
  transition: margin 0.3s ease 0.1s;
  -o-transition: margin 0.3s ease 0.1s;
  -moz-transition: margin 0.3s ease 0.1s;
  -webkit-transition: margin 0.3s ease 0.1s;
}

.cartbadge {
  border-radius: 10vh;
  height: 3vh;
  width: 3vh;
  color: #edf2f4;
  background-color: #1883c2;
}






